.benchmarks_of_interest1.swo
.gdb commands & errors.swp
.gdb commands.swp
.history/
DRAM_memory_my_notes.jpg
Fluent Python.pdf
GDB Cheat Sheet.pdf
GPGPU-Sim.html
Kdevelop Shortcuts
Kdevelop Shortcuts~
Kubernetes-Tutorial.txt
Linux commands (rakesh patil's conflicted copy) (1).txt
Linux commands (rakesh patil's conflicted copy) (2).txt
Linux commands (rakesh patil's conflicted copy).txt
Linux commands.txt
Linux commands.txt~
Linux commands~
Linux-101-Hacks.pdf
List Of Working Bechmarks from NVIDIA SDK
Notes_for_my_paper
Notes_for_my_paper~
Random notes & terminologies
YAML_Notes.txt
anydesk_clipboard
awk sed and grep to handle benchmark outputs
awk sed and grep to handle benchmark outputs~
bash script notes
bash script notes (rakesh patil's conflicted copy)
bash script notes~
benchmark_status
benchmarks_of_interest
benchmarks_of_interest1
benchmarks_of_interest1~
browser notes.txt
browser notes.txt~
cmake_notes (rakesh patil's conflicted copy) (rakesh patil's conflicted copy).txt
cmake_notes (rakesh patil's conflicted copy).txt
cmake_notes.txt
cmd_and_batchfile_notes.txt
compilation notes
compilation notes~
compilation_notes.pdf
cpp notes
cuda compilation notes
docker commands.txt
dropbox commands
gdb commands & errors
gdb commands & errors~
gdb_breakpoint_tricks.pdf
gdb_coredump2.pdf
generating cfg from .cubin file
git comands New.docx
git comands.txt
gnuplot notes~
go through these tips in your leisure time
gpgpu simulator notes
gpgpu simulator notes~
gpgpu simulator parameter statistic
gpgpu simulator parameter statistic~
gpgpusim/
gpu_memories_details.odt
hackerrank~
how my paper should be !!
hpce accounts
ideas.txt
ideas.txt~
latest header from manas.tex
latex commands
latex commands~
makefile_notes
mercurial commands
pcre library
python notes (rakesh patil's conflicted copy).txt
python notes.txt
react-node-notes.txt
reasons.txt
remake notes
rr.cpp
share market
simulator change log
simulator code checks
simulator code checks~
tags & cscope notes
tags & cscope notes~
teamviewer_commands.txt
terminator_notes
texmaker notes
todo.txt
udacity gpu notes
useful websites
vim commands (rakesh patil's conflicted copy).txt
vim commands.txt
vim commands~
virgo notes
while writting paper
